body
  margin 0
  padding 0
  background-image url("./src/assets/images/bg/mygo!!!.webp")
  background-size cover
  background-repeat no-repeat
  background-position center 20%
  background-attachment fixed

  @media screen and (max-width: 768px)
    background-image: url('./src/assets/images/bg/MACHU.webp');